{% extends 'base.html' %}

{% block body %}
<main class="container my-5">
    <form action="{{ url_for('create_post') }}" method="post">
        <div class="h-100">
            <div class="row h-100">
                <div class="col-md-12 h-100">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control form-control-lg" id="title" placeholder="Enter title" required>
                    </div>
                    <div class="form-group my-2">
                        <textarea name="content" class="form-control" id="content" rows="20" placeholder="Write your blog post here..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock body %}